
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year

doctype html
html(lang=config.language)
  head
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")
    meta(charset='UTF-8')
    title= pageTitle + ' | ' + config.title
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from _config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.2.0/styles/github.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Lato|Source+Sans+Pro&display=swap" rel="stylesheet">
  body
    #layout-page
      nav#layout-menu
        div.other-page.hide
          each url, label in theme.menu
            a(href=url)= label
        div.responsive-pad
        div#mega-head
          a(href='/')= config.title
        div.layout-socialmedia.hide
          each url,label in config.socialmedia
            a(class='link-item main-link-item' title=label href=url)
              i(class='iconfont icon-'+theme.social_icons[label])
        div(class='responsive-bar', onclick='toggle(this)')= '\u2261'
      #content
        if body
          div!= body
        else
          block content
      footer#bottom
        span © 
        span= config.author
        span . Powered By 
        a(href='http://hexo.io')
          span HEXO
        span . Theme 
        a(href='https://github.com/lixuetaoleo/hexo-theme-leo')= 'leo'
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)
    <script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
